{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "finance/css/style.css" %}">


  <title>{% block title %} UNC Interactive Media {% endblock %}</title>
  <meta name="description" content="Learning Django">

</head>

<body>
  <div class="container">
  {% block content %}
  {% endblock %}

  {% block script %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCks1Udwj-0M5YSoMIUPFZvlbhCGXxzamU&callback=initMap">
    </script>
  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCks1Udwj-0M5YSoMIUPFZvlbhCGXxzamU&callback=initMap"></script> -->
  <script src="{% static "finance/js/bar.js" %}"></script>
  <script src="{% static "finance/js/home.js" %}"></script>


  {% endblock %}

  </div>
  </body>
</html>
