{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<div class="container">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
  </div>
  <!-- TradingView Widget END -->
<h1>NASDAQ in NC</h1>
<h2>A Look into North Carolina's Publicly Traded Companies</h2>
<p>Home to some of the largest publicly traded companies in the nation, North Carolina offers investors and entrepreneurs a unique opportunity to make money while making an impact on the communities they are rooted in. These {{company_count|intcomma}} companies are listed on the NASDAQ, available for public trading. </p>

<div class="row"></div>
<iframe src="https://www.google.com/maps/d/embed?mid=1IkiHCamm3xojlk7j4J4CuRPwVycy1X3b" width="100%" height="480"></iframe>

<!-- thumbnail bootstrap: https://github.com/BlackrockDigital/startbootstrap-thumbnail-gallery -->
<h3>Click Below to Explore</h3>
<div class="row text-center text-lg-left pre-scrollable">

{% for company in companies %}
<div class="col-lg-3 col-md-4 col-xs-6 hov" style="height: 200px; background-image: url({{ company.logo }}); background-repeat: no-repeat; background-size: contain; background-position: center;">
    <a href="company/{{ company.id }}" class="d-block mb-4 h-100">
      <!-- <img class="img-fluid img-thumbnail" src="{{ company.logo }}" alt="" style="max-height: 200px;"> -->
    </a>
</div>
{% endfor %}
</div>
<div class="row"></div>
<div class="row"></div>

<h5>1 Year Stock Price Estimates</h5>
<div id="bar-chart"></div>




<!-- <div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div> -->

<!-- <div id="map"></div> -->


</div>

{% endblock %}
