{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block content %}
<h1> UNC Interactive Media</h1>
<h2>Students and Courses</h2>
<p>This new interactive media major has {{company_count|intcomma }} students taking {{ course_count|intcomma }} courses.

<div id="map"></div>

<div id="raw-json"></div>

{% endblock %}

<script>
  var chart = bubbleChart();
  bubbleChart().width();
</script>

<svg width="600" height="400">
    <circle></circle> // a story from data
    <circle></circle> // another story from data
    ...
</svg>

<div class="chart-example" id="chart"><svg></svg></div>

<script>
  d3.csv('vol.csv', function(error, our_data) {
    if (error) {
        console.error('Error getting or parsing the data.');
        throw error;
    }
    var chart = bubbleChart().width(600).height(400);
    d3.select('#chart').data(our_data).call(chart);
  });
</script>
