@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,400i,700,700i');


h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 6em;
  color: #434343;
}

.hov{
  opacity: .5;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.hov:hover{
  opacity: 1;
}

h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #434343;
}

p {
  color: #434343;
}

img.logo-top {
  max-height: 300px;
  width: auto;
  max-width: 700px;
  /*text-align: center;*/
  display:block;
  margin:auto;
}

.company-card{
  width: 700px;
  background-color: red;
}

.i4ewOd-pzNkMb-haAclf{
  display: none;
}

#map {
       height: 100%;
     }

.comp-button{
  color: red;
  background-color: green;
  font-style: italic;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

/*.mini-box {
  width: 50px;
  height: 40px;
  background-color: black;
  float: left;
  padding: 10px;
  margin: 10px;
  display:block;
  margin:auto;
}*/
